.home {
  position: relative;

  &__container {
    padding: 25vh 0;
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    height: 250px;

    @media (max-width: 425px) {
      margin: 0 auto;
      height: auto;
      padding: 0;
    }

    @media (min-width: 430px) and (max-width: 768px) {
      margin: 0 auto;
      height: auto;
      padding: 20vh 0;
    }
  }

  &__logo {
    position: absolute;
    z-index: -1;
    top: 5rem;
    left: 18rem;
    
    @media (max-width: 768px) {
      z-index: -1;
      position: absolute;
      top: 10vh;
      left: -10rem;
      width: 30rem;
      height: 30rem;
    }
    
    @media (min-width: 769px) and (max-width: 1280px) {
      z-index: -1;
      position: absolute;
      left: -8rem;
      width:30rem;
      height: 30rem;
    }

    @media (min-width: 1281px) and (max-width: 1800px) {
      position: absolute;
      width: 31rem;
      height: 31rem;
      left: 8rem;
      top: 3rem;
      z-index: -1;
    }
  }

  .header {
    color: $primary-color;
    font-size: 64px;
    font-weight: normal;
  }
  
  p{
    color: $primary-color;
    font-size: 30px;
  }

  &__button-group {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    height: 3.87rem;
    width: 13.43rem;
    border-radius: 50px;
    background-color: $primary-color;
    border: solid 1px $primary-color;
    color: $background;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1.2rem;

    @media (max-width: 768px) {
      width: 100%;
      background-color: $primary-color;
      border: solid 1px $primary-color;
      color: $background;
      font-size: 1.2rem;
      margin-top: 15px;
    }
  }
}