.home {
  position: relative;
  margin: 0 auto;

  &__container {
    position: relative;
    z-index: 4;
    padding: 30vh 0;
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    height: 250px;

    @media (max-width: 425px) {
      margin: 0 auto;
      height: auto;
      padding: 0;
    }

    @media (min-width: 430px) and (max-width: 768px) {
      margin: 0 auto;
      height: auto;
      padding: 20vh 0;
    }
  }

  .header {
    font-size: 64px;
    font-weight: 500;
  }

  &__button-group {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    height: 3.87rem;
    line-height: 2.5;
    width: 13.43rem;
    border-radius: 12px;
    background-color: $secondary-color;
    border: solid 1px $secondary-color;
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1.2rem;
    text-decoration: none;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);

    &:hover {
      opacity: 60%;
      cursor: pointer;
      transition: 0.25s;
    }

    &:not(:hover) {
      transition: 0.25s;
    }

    @media (max-width: 768px) {
      width: 100%;
      line-height: 3.3;
      background-color: $primary-color;
      border: solid 1px $primary-color;
      color: $background;
      font-size: 1.2rem;
      margin-top: 15px;
    }
  }
}