.links-container {
  padding: 2rem 2rem;
  max-width: 100vw;
  display: flex;
  align-items: center;
  height: 100%;

  &__icon-group {
    display: flex;
    max-width: 600px;
    max-height: 530px;

    @media screen and (max-width: 768px) {
      max-width: 485px;
      max-height: 415px;
    }

    @media screen and (min-width: 769px) and (max-width: 1280px) {
      max-width: 485px;
      max-height: 415px;
    }
  }

  &__link-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 3px $primary-color;
    border-radius: 12px;
    width: 100%;
    height: 70px;
    padding: 0 1rem;
    font-size: 28px;
    color: $primary-color;
    max-width: 51.48rem;
  }

  &__text-group {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    z-index: 3;
    gap: 30px;
    max-width: 51.48rem;
  }

  &__header {
    display: flex;
    flex: 1 0 1;
    color: $primary-color;
    font-size: 50px;
    font-weight: normal;
  }

  &__result-icon {
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      height: 45px;
      width: 45px;
    }

    &:hover {
      opacity: 60%;
      cursor: pointer;
      transition: 0.25s;
    }

    &:not(:hover) {
      transition: 0.25s;
    }
  }

  &__input {
    background-color: $primary-color;
    border-radius: 12px;
    height: 70px;
    // 1920x1080: min-width: 49.1rem;
    min-width: 36rem;
    border: 0;
    padding: 0 1rem;
    font-size: 28px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);

    &:focus {
      outline: none;
    }
  }

  &__result-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    display: flex;
    flex-grow: 1;
    background-color: $secondary-color;
    height: 70px;
    border-radius: 12px;
    //1920x1080: min-width: 15.625rem;
    min-width: 11rem;
    border: 0;
    align-items: center;
    justify-content: center;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    
    &--svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      opacity: 60%;
      cursor: pointer;
      transition: 0.25s;
    }

    &:not(:hover) {
      transition: 0.25s;
    }
  }

  &__icon {
    z-index: 3;
    height: 30rem;
    width: 30rem;
    align-items: center;
    justify-items: center;
  }

  &__icon-background {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 4.375rem;
    max-width: 585px;
    max-height: 515px;

    @media (max-width: 768px) {
      max-width: 485px;
      max-height: 415px;
    }
    
    @media (min-width: 769px) and (max-width: 1280px) {
      max-width: 485px;
      max-height: 415px;
    }

    &--blob1 {
      z-index: 1;
      animation: rotation 45s infinite linear;
    }

    &--blob2 {
      z-index: 2;
      animation: spin 45s infinite linear;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}