@import 'Styles/variables.scss';
@import 'Styles/home.scss';
@import 'Styles/navbar.scss';
@import 'Styles/about.scss';
@import 'Styles/links.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

#root {
  height: 100%;
}

.text {
  color: $primary-color;
  font-size: 30px;
}

body {
  background-color: $background;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}